Repository jasonruesch/jasonruesch.old, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/apps, area/libs, scope/portfolio, scope/shared, type/feature, type/data-access, type/util, type/domain, type/ui, dep-updates

.github/labeler.yaml:

---
area/apps:
  - 'apps/**/*'
area/libs:
  - 'libs/**/*'
# scope/server:
#   - apps/server/**/*
#   - apps/server-e2e/**/*
#   - libs/server/**/*
scope/portfolio:
  - apps/portfolio/**/*
  - apps/portfolio-e2e/**/*
  - libs/portfolio/**/*
scope/shared:
  - libs/shared/**/*
type/feature:
  - libs/**/feature-*/*
type/data-access:
  - libs/**/data-access-*/*
type/util:
  - libs/**/util*/*
type/domain:
  - libs/**/domain*/*
type/ui:
  - libs/**/ui-*/*
dep-updates:
  - package.json
  - package-lock.json

chore(repo): add Docker container
  apps/portfolio/Dockerfile
  apps/portfolio/project.json
  package-lock.json
  package.json
Labels: area/apps, scope/portfolio, dep-updates

chore(repo): add commitizen and commitlint
  .commitlintrc.js
  .github/workflows/ci-main.yml
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  .lintstagedrc.js
  docker-compose.yml
  package-lock.json
  package.json
  release.config.js
Labels: dep-updates

Notes added by 'git notes add'
  bf700f326e010fbf6c1095ab9bb41a13688fbb18
Labels: none

chore(release): 1.0.0
  CHANGELOG.md
Labels: none

ci(repo): add tag workflow to deploy docker image
  .github/workflows/ci-tag.yml
Labels: none

chore(release): 1.0.1
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  ae146e663c0b76ca089187e39c43a445c21fa5c8
Labels: none

ci(repo): use PAT in release job
  .github/workflows/ci-main.yml
Labels: none

chore(release): 1.0.2
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  c4f61d3811f276266a2f91361ec01906c1942d9c
Labels: none

ci(repo): remove on create from tag workflow
  .github/workflows/ci-tag.yml
Labels: none

chore(release): 1.0.3
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  91d1df040ac65946bbfe677aaa5618caed3e1fd7
Labels: none

ci(repo): update release version in package.json
  release.config.js
Labels: none

chore(release): 1.0.4
  CHANGELOG.md
  package-lock.json
  package.json
Labels: dep-updates

Notes added by 'git notes add'
  2348474c533d3ba1b050ac180de6c20d53728690
Labels: none

ci(repo): add commitlint and audit signatures to main and pr workflows
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
Labels: none

ci(repo): remove audit signatures from workflows
  .dockerignore
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
  apps/portfolio/Dockerfile
  apps/portfolio/Dockerfile.prod
  apps/portfolio/nginx.conf
  docker-compose.prod.yml
  docker-compose.yml
Labels: area/apps, scope/portfolio

chore(repo): ignore changelog when checking format
  .prettierignore
Labels: none

chore(release): 1.0.5
  CHANGELOG.md
  package-lock.json
  package.json
Labels: dep-updates

Notes added by 'git notes add'
  0a3064520197584972d829c23465f3ba73fe29f1
Labels: none

ci(repo): fix main workflow not triggering tag workflow
  .github/workflows/ci-main.yml
  .github/workflows/ci-tag.yml
  README.md
Labels: none

Notes added by 'git notes add'
  eca9c4f81f3e4b1dc3b20177372362afde9d028e
Labels: none

chore(release): 1.0.6
  CHANGELOG.md
  package-lock.json
  package.json
Labels: dep-updates

feat(portfolio): remove example nx welcome
  .commitlintrc.js
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
  .husky/README.md
  .husky/commit-msg
  .husky/prepare-commit-msg
  apps/portfolio/src/app/app.tsx
Labels: area/apps, scope/portfolio

ci(repo): fix coverage generation
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
  apps/portfolio/src/app/app.spec.tsx
  apps/portfolio/vite.config.ts
Labels: area/apps, scope/portfolio

feat(portfolio): remove example nx welcome
  .commitlintrc.js
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
  .husky/README.md
  .husky/commit-msg
  .husky/prepare-commit-msg
  apps/portfolio/src/app/app.tsx
Labels: area/apps, scope/portfolio

ci(repo): fix coverage generation
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
  apps/portfolio/src/app/app.spec.tsx
  apps/portfolio/vite.config.ts
Labels: area/apps, scope/portfolio

chore(release): 1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: dep-updates

Notes added by 'git notes add'
  9f8ca06a90692355104ab2496f7f8f28ea37c0da
Labels: none

ci(repo): always run tests
  .github/workflows/ci-main.yml
Labels: none

Notes added by 'git notes add'
  cd04c47220c66752318e169ee2dc3d88da8b54c2
Labels: none

chore(release): 1.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: dep-updates

feat(portfolio): update h1 heading
  .github/workflows/ci-pr.yml
  .github/workflows/ci-tag.yml
  apps/portfolio-e2e/src/e2e/app.cy.ts
  apps/portfolio/src/app/app.module.css
  apps/portfolio/src/app/app.spec.tsx
  apps/portfolio/src/app/app.tsx
  apps/portfolio/src/app/nx-welcome.tsx
Labels: area/apps, scope/portfolio

ci(repo): add cancel in progress concurrency
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
Labels: none

feat(portfolio): update h1 heading
  .github/workflows/ci-pr.yml
  .github/workflows/ci-tag.yml
  apps/portfolio-e2e/src/e2e/app.cy.ts
  apps/portfolio/src/app/app.module.css
  apps/portfolio/src/app/app.spec.tsx
  apps/portfolio/src/app/app.tsx
  apps/portfolio/src/app/nx-welcome.tsx
Labels: area/apps, scope/portfolio

ci(repo): add cancel in progress concurrency
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
Labels: none

chore(release): 1.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: dep-updates

Notes added by 'git notes add'
  164f3a680a28749586eccbc9594064f5eed1c3f0
Labels: none

chore(repo): skip workflow run for release commits
  release.config.js
Labels: none
