Repository jasonruesch/jasonruesch.old, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/apps, area/libs, scope/portfolio, scope/shared, type/feature, type/data-access, type/util, type/domain, type/ui, dep-updates

.github/labeler.yaml:

---
area/apps:
  - 'apps/**/*'
area/libs:
  - 'libs/**/*'
# scope/server:
#   - apps/server/**/*
#   - apps/server-e2e/**/*
#   - libs/server/**/*
scope/portfolio:
  - apps/portfolio/**/*
  - apps/portfolio-e2e/**/*
  - libs/portfolio/**/*
scope/shared:
  - libs/shared/**/*
type/feature:
  - libs/**/feature-*/*
type/data-access:
  - libs/**/data-access-*/*
type/util:
  - libs/**/util*/*
type/domain:
  - libs/**/domain*/*
type/ui:
  - libs/**/ui-*/*
dep-updates:
  - package.json
  - package-lock.json

ci(repo): skip artifact download and codecoverage if artifact doesn't exist
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
Labels: none

ci(repo): skip artifact download and codecoverage if artifact doesn't exist
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
Labels: none

chore(repo): skip workflow run for release commits
  release.config.js
Labels: none

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: dep-updates

Notes added by 'git notes add'
  1184d8344b52c96c6516be5e8e1bb15ef296dc73
Labels: none

ci(repo): allow concurrent workflows to run
  .github/workflows/ci-main.yml
  release.config.js
Labels: none

chore(release): 1.2.2
  CHANGELOG.md
  package-lock.json
  package.json
Labels: dep-updates

Notes added by 'git notes add'
  1cb6975d96b71e045dc7c42e336cc81ca63aff79
Labels: none

chore(repo): rename docker images
  apps/portfolio/project.json
Labels: area/apps, scope/portfolio

feat(portfolio): add description for self under heading
  apps/portfolio/src/app/app.tsx
Labels: area/apps, scope/portfolio

feat(portfolio): add description for self under heading
  apps/portfolio/src/app/app.tsx
Labels: area/apps, scope/portfolio

chore(release): 1.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: dep-updates

Notes added by 'git notes add'
  5d0353a2264f0069f08640bfcac1e5d2c594b4cd
Labels: none

feat(portfolio): set Dockerfile on container target
  apps/portfolio/project.json
Labels: area/apps, scope/portfolio

chore(release): 1.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: dep-updates

Notes added by 'git notes add'
  4b6ed8e756fef58d64c4e53f345da462fe7a2326
Labels: none

feat(portfolio): add Tailwind CSS
  apps/portfolio/index.html
  apps/portfolio/postcss.config.ts
  apps/portfolio/src/styles.css
  apps/portfolio/tailwind.config.ts
  package-lock.json
  package.json
Labels: area/apps, scope/portfolio, dep-updates

chore(release): 1.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: dep-updates

Notes added by 'git notes add'
  73e538a41dfdef3dc478f8eb6f1ef206c54fb91d
Labels: none

feat(portfolio): add home page
  apps/portfolio/index.html
  apps/portfolio/src/app/app.tsx
  libs/portfolio/ui/.babelrc
  libs/portfolio/ui/.eslintrc.json
  libs/portfolio/ui/README.md
  libs/portfolio/ui/package.json
  libs/portfolio/ui/project.json
  libs/portfolio/ui/src/index.ts
  libs/portfolio/ui/src/lib/home.spec.tsx
  libs/portfolio/ui/src/lib/home.tsx
  libs/portfolio/ui/tsconfig.json
  libs/portfolio/ui/tsconfig.lib.json
  libs/portfolio/ui/tsconfig.spec.json
  libs/portfolio/ui/vite.config.ts
  nx.json
  package-lock.json
  package.json
  tsconfig.base.json
Labels: area/apps, area/libs, scope/portfolio, dep-updates

feat(portfolio): add home page
  apps/portfolio/index.html
  apps/portfolio/src/app/app.tsx
  libs/portfolio/ui/.babelrc
  libs/portfolio/ui/.eslintrc.json
  libs/portfolio/ui/README.md
  libs/portfolio/ui/package.json
  libs/portfolio/ui/project.json
  libs/portfolio/ui/src/index.ts
  libs/portfolio/ui/src/lib/home.spec.tsx
  libs/portfolio/ui/src/lib/home.tsx
  libs/portfolio/ui/tsconfig.json
  libs/portfolio/ui/tsconfig.lib.json
  libs/portfolio/ui/tsconfig.spec.json
  libs/portfolio/ui/vite.config.ts
  nx.json
  package-lock.json
  package.json
  tsconfig.base.json
Labels: area/apps, area/libs, scope/portfolio, dep-updates

chore(release): 1.6.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: dep-updates

Notes added by 'git notes add'
  22736e261d26e6711b256877a23d8edff2f5f250
Labels: none

feat(portfolio): add home page to router
  .eslintrc.json
  apps/portfolio/project.json
  apps/portfolio/src/app/app.spec.tsx
  apps/portfolio/src/app/app.tsx
  apps/portfolio/src/app/error-page.tsx
  apps/portfolio/src/main.tsx
  libs/portfolio/ui/README.md
  libs/portfolio/ui/home/.babelrc
  libs/portfolio/ui/home/.eslintrc.json
  libs/portfolio/ui/home/README.md
  libs/portfolio/ui/home/package.json
  libs/portfolio/ui/home/project.json
  libs/portfolio/ui/home/src/index.ts
  libs/portfolio/ui/home/src/lib/home.spec.tsx
  libs/portfolio/ui/home/src/lib/home.tsx
  libs/portfolio/ui/home/tsconfig.json
  libs/portfolio/ui/home/tsconfig.lib.json
  libs/portfolio/ui/home/tsconfig.spec.json
  libs/portfolio/ui/home/vite.config.ts
  libs/portfolio/ui/src/lib/home.spec.tsx
  package-lock.json
  package.json
  tsconfig.base.json
Labels: area/apps, area/libs, scope/portfolio, dep-updates

feat(portfolio): add home page to router
  .eslintrc.json
  apps/portfolio/project.json
  apps/portfolio/src/app/app.spec.tsx
  apps/portfolio/src/app/app.tsx
  apps/portfolio/src/app/error-page.tsx
  apps/portfolio/src/main.tsx
  libs/portfolio/ui/README.md
  libs/portfolio/ui/home/.babelrc
  libs/portfolio/ui/home/.eslintrc.json
  libs/portfolio/ui/home/README.md
  libs/portfolio/ui/home/package.json
  libs/portfolio/ui/home/project.json
  libs/portfolio/ui/home/src/index.ts
  libs/portfolio/ui/home/src/lib/home.spec.tsx
  libs/portfolio/ui/home/src/lib/home.tsx
  libs/portfolio/ui/home/tsconfig.json
  libs/portfolio/ui/home/tsconfig.lib.json
  libs/portfolio/ui/home/tsconfig.spec.json
  libs/portfolio/ui/home/vite.config.ts
  libs/portfolio/ui/src/lib/home.spec.tsx
  package-lock.json
  package.json
  tsconfig.base.json
Labels: area/apps, area/libs, scope/portfolio, dep-updates

chore(release): 1.7.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: dep-updates

Notes added by 'git notes add'
  e438d4d0e3bcdf8346274dc6c2a9b7d056e63aa5
Labels: none

feat(repo): add shared ui library
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci-tag.yml
  apps/portfolio/src/app/app.tsx
  libs/shared/ui/.babelrc
  libs/shared/ui/.eslintrc.json
  libs/shared/ui/README.md
  libs/shared/ui/package.json
  libs/shared/ui/project.json
  libs/shared/ui/src/index.ts
  libs/shared/ui/src/lib/layout.spec.tsx
  libs/shared/ui/src/lib/layout.tsx
  libs/shared/ui/tsconfig.json
  libs/shared/ui/tsconfig.lib.json
  libs/shared/ui/tsconfig.spec.json
  libs/shared/ui/vite.config.ts
  tsconfig.base.json
Labels: area/apps, area/libs, scope/portfolio, scope/shared

feat(repo): add shared ui library
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci-tag.yml
  apps/portfolio/src/app/app.tsx
  libs/shared/ui/.babelrc
  libs/shared/ui/.eslintrc.json
  libs/shared/ui/README.md
  libs/shared/ui/package.json
  libs/shared/ui/project.json
  libs/shared/ui/src/index.ts
  libs/shared/ui/src/lib/layout.spec.tsx
  libs/shared/ui/src/lib/layout.tsx
  libs/shared/ui/tsconfig.json
  libs/shared/ui/tsconfig.lib.json
  libs/shared/ui/tsconfig.spec.json
  libs/shared/ui/vite.config.ts
  tsconfig.base.json
Labels: area/apps, area/libs, scope/portfolio, scope/shared

chore(release): 1.8.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: dep-updates

Notes added by 'git notes add'
  5881f1dcd3f49a29c5b661f959b1221f57f8bebc
Labels: none
